* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

label {
  font-size: 14px;
  color: #24292f;
  margin-bottom: 4px;
}

input,
button,
select {
  font: inherit;
}

input,
select {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%23666' stroke-width='1.5' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 12px 8px;
}

/* Сокрытие стрелок у input[type="number"] */
/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

button:focus,
button:focus-visible {
  outline: none;
}

/* Buttons */
.btn {
  font-size: 16px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  color: #213547;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-primary {
  background: #0969da;
  color: #fff;
}

.btn-primary:hover {
  background: #005cc5;
}

.btn-secondary {
  background: #f6f8fa;
  color: #24292f;
}

.btn-secondary:hover {
  background: #d0d7de;
}
